@import url('https://fonts.googleapis.com/css?family=Raleway:200');
.main-title {
    position: absolute;
    display: block;
    text-align: justify;
    font-family: Raleway;
    left: 10%;
    font-size: 60%;
    width: 25%;
    z-index: 1;
    top: 14%;
    text-justify: inter-word;
    text-transform: uppercase;
    font-weight: lighter;
    text-rendering: optimizeLegibility;

}

h1 {
    color: whitesmoke;
}
h1 {
    color: whitesmoke;
    text-rendering: optimizeLegibility;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111,
    2px 2px 1px #363636;
}
.arrow-icon{
   font-size: 130px;
    color: whitesmoke;
}


@media (min-width: 350px) and (min-height: 812px){
    .main-title{
        font-size: 50%;
    }
    .arrow-icon{
        font-size: 1em;
    }
}
@media (min-width: 768px) and (min-height: 600px){
    .main-title{
        font-size: 90%;
    }
    .arrow-icon{
        font-size: 3em;
    }
}
@media (min-width: 1201px) and (min-height: 700px){
    .main-title{
        font-size: 120%;
    }
    .arrow-icon{
        font-size: 500%;
    }

}
