
.container{
    cursor:default;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    /*background-image: linear-gradient(rgba(128, 123, 123, 0.5),rgba(0, 0, 0, 0.1)), url("https://morgancodes.s3.amazonaws.com/fall_desktop_light_mode.jpg");*/
    background: rgba(0,0,0,.8);
    /*filter: blur(4px);*/
}
.element {
    cursor: auto;
    display: block;
    margin: auto;

}
img{
    width: 20%;
    height: 30%;
}
@media only screen and (max-width:480px){
    img{
        width: 80%;
        height: 100vh;
    }
}
@media only screen and (max-width:768px){
    img{
        width: 65%;
        height: 100vh;
    }
}
.Link:hover{
    cursor: auto;
}


