@import url('https://fonts.googleapis.com/css?family=Raleway:200');
nav{
    padding: 20px;
    margin: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    height: 3%;
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;


}
li{
flex: 0 0 20%;
    margin: 3%;

}
.icon-1{
    position: relative;
    top:3px;
}
.icon-2{
    position: relative;
    top:5px;
}
li a{

    font-size:25px;
    color: #40403e;
    box-shadow: #282c34;
    border-style: dot-dash;
    text-decoration: none;
}

.box {

}
.btn {
    color: whitesmoke;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
    align-items: center;
    text-align: center;
    padding: 3px;
    transition: 1s;
}
.btn:after {

    position: absolute;

}
.btn-white{
    color: black;
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    align-items: center;
    text-align: center;
    padding: 3px;
    transition: 1s;

}
.btn-white:after{
    position: absolute;
    color: white;
    z-index: -1;

}
.btn-white:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@media only screen and (max-width: 500px) and (min-height: 401px) {
    li {
        flex: 0 0 30%;
    }
    p{
        font-size: 18px;
    }

}
@media only screen and (max-width: 767px){
    li{
        flex: 0 0 35%;
    }
    .arrow-icon{
        font-size: 100px;
    }
}
@media only screen and (max-width: 384px) {
    p{
        font-size: 15px;
        left: 50%;
        top: 68%;
    }
    li{
        flex: 0 0 40%;
    }
    ul{

    }

}


