.wrapper-square{
    /*background-image: linear-gradient(rgba(128, 123, 123, 0.5),rgba(0, 0, 0, 0.1)), url("https://morgancodes.s3.amazonaws.com/fall_desktop_light_mode.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    background-color: #1D1F20;
    /*height: 50%;*/
    /*width: 50%;*/
    position:absolute;
    top: 50%;
    left: 50%;
    width:54%;
    height:67%;
    margin-top: -13%; /*set to a negative number 1/2 of your height*/
    margin-left: -27%; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    z-index: 1;
}
@media (min-width: 500px) and (min-height: 401px) {
    .wrapper-square {
        width: 55%;
        height: 55%;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .wrapper-square {
        width: 50%;
        height:55%;
    }
}
@media only screen and (min-width:480px){
    .wrapper-square{
        width: 54%;
        height: 40%;
    }
}
@media only screen and (max-width: 676px){

    .wrapper-square{
        width:  60%;
        height: 50%;
    }
}
@media only screen and (min-width:375px){
    .wrapper-square{
        width: 60%;
        height: 43%;
    }
}
@media (min-width: 1000px) and (min-height: 700px) {
    .wrapper-square {
        width: 50%;
        height:55%;
    }
}