.wrapper-square{

    background-color: #1D1F20;

    position:absolute;
    top: 50%;
    left: 50%;
    width:54%;
    height:67%;
    margin-top: -13%; /*set to a negative number 1/2 of your height*/
    margin-left: -27%; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    z-index: 1;
}
@media (min-width: 350px) and (min-height: 401px) {
    .wrapper-square {
        width: 55%;
        height: 45%;
    }
}
@media (min-width: 500px) and (min-height: 401px) {
    .wrapper-square {
        width: 55%;
        height: 55%;
    }
}

@media (min-width: 1200px) and (min-height: 700px) {
    .wrapper-square {
        width: 55%;
        height:55%;
    }
}
